{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
  Dashboard
{% endblock %}
{% block content %}
  <nav class="navbar navbar-inverse">
    <a class="navbar-brand" href="#">Dashboard</a>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="{{ url_for('logout') }}">Log Out</a></li>
    </ul>
  </nav>
  <div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
      <form class="form-signin" method="POST" action="/dashboard">
        <h2 class="form-signin-heading">Change configurations</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.power) }}
        {{ wtf.form_field(form.speed) }}
        <button type="submit" class="btn btn-success btn-lg">Submit</button>
      </form>
      <br>
      {% if message %}
        <div class="alert alert-success" role="alert">
          
          <h4 class="alert-heading">
          {{ message }}
          </h4>
          
        </div>
        <h3>Current configurations</h3>
        <div class="card-body text-dark">
          
          <p class="card-text">
            <ul class="list-group">
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Power
                <span class="badge badge-primary badge-pill">{% if form.power.data %} On {% else %} Off {% endif %}</span>
              </li>
              <li class="list-group-item d-flex justify-content-between align-items-center">
                Speed
                <span class="badge badge-primary badge-pill">{{ form.speed.data }}</span>
              </li>
              
            </ul>
          </p>
        </div>
      {% endif %}
    </div>
    <div class="col-sm-4">
    </div>
  </div>
  
{% endblock %}